* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Century Gothic';
}
.screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbar {
    background: linear-gradient(to bottom, #5D00FF, #290070);
    color: white;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-container {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(".\bg.PNG")
}
.form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 1px 10px grey;           
    overflow: hidden; 
}
.form > h2 {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.form > table {
    padding: 10px;
    width: 100%;
}
.footer {
    background: linear-gradient(to bottom, #5D00FF, #290070);
    color: white;
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}